.descrobe-indent{text-indent:35px}
.article-content{
    border:1px solid #eee;
    margin-bottom: 10px;
}
.article-tit {
    text-align: center;
    padding: 20px 0 10px;
    margin: 0 20px;
    font-size: 21px;
    line-height: 150%;
    color: #333;
    border-bottom: 1px dashed #eee;
}
.article-tit h3{
    color: #666;
}
.article-tit span {
    font-size: 12px;
    color: #999;
    padding: 0 10px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 0;
    border: 1px solid #eee;
    margin: -16px;
    margin-bottom: 20px;
}
.list-panner{
    margin-top:0;
    margin-right: -15px;
}
.self-1 a{
    display: block;
}
.prexContent a {
   color: #F67F4C
}